.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-container {
  padding: 10px 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;

  background-image: linear-gradient(to right top, #a2c3e7, #a5cce8, #abd4e7, #b5dce7, #c2e3e7, #c0e7e9, #bfeceb, #bef0ec, #abf3ed, #96f6ef, #7ef8f0, #5ffbf1);
}


.App-container h1 {
  position: absolute;
  left: 40%;
  top: 4%
}

.select-group{
  position: absolute;
    top: 8%;
    right: 20%;
    display: inline-flex;
}

@media screen and (max-width: 1000px) {
  .App-container {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .App-container h1 {
    position: initial;
    font-size: 24px;
  }

  .select-group{
    position: initial;
  }
} 
