.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-container {
  padding: 10px 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;

  background-image: linear-gradient(to right top, #5ffbf1, #46eefa, #41dfff, #52cffe, #69bff8, #69bff8, #69bff8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.App-container h1 {
  position: absolute;
  left: 40%;
  top: 5%
}

.select-group{
  position: absolute;
    top: 10%;
    right: 20%;
    display: inline-flex;
}
