body {
  text-align: center;
  background-image: linear-gradient(to right top, #a2c3e7, #a5cce8, #abd4e7, #b5dce7, #c2e3e7, #c0e7e9, #bfeceb, #bef0ec, #abf3ed, #96f6ef, #7ef8f0, #5ffbf1);
}

.App-link {
  color: #61dafb;
}

.App-container {
  padding: 10px 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
}


.App-header {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-width: 80%;
  margin-left: 30%;
}

.select-group{
  display: inline-flex;
}

@media screen and (max-width: 1000px) {
  .App-container {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .App-header {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-left: 0;
  }

  .App-container h1 {
    font-size: 24px;
  }
} 
